//
// DARK COLORS
//
@d-background-dark: #0b0d11;
@d-background: #151921;
@d-background-light: #1f2430;
@d-primary: #f27983;
@d-accent: #f19199;
@d-text: #ebeae5;

//
// LIGHT COLORS
//
@l-background-dark: #ffffff;
@l-background: #f8f9fa;
@l-background-light: #e7eaed;
@l-primary: #e86873;
@l-accent: #f27983;
@l-text: #5c6166;

//
// GLOBAL LESS VARS
//
@background-dark: var(--background-dark);
@background: var(--background);
@background-light: var(--background-light);
@primary: var(--primary);
@accent: var(--accent);
@text: var(--text);
@error: #f00;

.transition {
    transition: 0.2s ease background-color, 0.2s ease color, 0.2s ease border-color;
}
