//
// DARK COLORS
//
@d-background-dark : #0b0d11;
@d-background      : #151921;
@d-background-light: #1F2430;
@d-primary         : #F27983;
@d-accent          : #f19199;
@d-text            : #ebeae5;

//
// LIGHT COLORS
//
@l-background-dark : #ffffff;
@l-background      : #F8F9FA;
@l-background-light: #E7EAED;
@l-primary         : #E86873;
@l-accent          : #F27983;
@l-text            : #5C6166;


//
// GLOBAL LESS VARS
//
@background-dark : var(--background-dark);
@background      : var(--background);
@background-light: var(--background-light);
@primary         : var(--primary);
@accent          : var(--accent);
@text            : var(--text);
@error           : #F00;