/* Because of the SVG inliner, these don't work for icons */
.vjs-theme-orange {
  --vjs-theme-orange--primary: #FF8C00;
  --vjs-theme-orange--secondary: #FFFFFF;
  color: #FFFFFF;
}

/* Big play Button */
.vjs-theme-orange:hover .vjs-big-play-button,
.vjs-theme-orange.vjs-big-play-button:focus {
  background-color: transparent;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' fill='%23FFFFFF'%3E %3Cpath fill-rule='evenodd' d='M44 88C19.738 88 0 68.262 0 44S19.738 0 44 0s44 19.738 44 44-19.738 44-44 44zm0-85C21.393 3 3 21.393 3 44c0 22.608 18.393 41 41 41s41-18.392 41-41C85 21.393 66.607 3 44 3zm16.063 43.898L39.629 60.741a3.496 3.496 0 0 1-3.604.194 3.492 3.492 0 0 1-1.859-3.092V30.158c0-1.299.712-2.483 1.859-3.092a3.487 3.487 0 0 1 3.604.194l20.433 13.843a3.497 3.497 0 0 1 .001 5.795zm-1.683-3.311L37.946 29.744a.49.49 0 0 0-.276-.09.51.51 0 0 0-.239.062.483.483 0 0 0-.265.442v27.685c0 .262.166.389.265.442.1.053.299.118.515-.028L58.38 44.414A.489.489 0 0 0 58.6 44a.49.49 0 0 0-.22-.413z'/%3E %3C/svg%3E");
}

.vjs-theme-orange .vjs-big-play-button {
  width: 88px;
  height: 88px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' fill='%23FF8C00'%3E %3Cpath fill-rule='evenodd' d='M44 88C19.738 88 0 68.262 0 44S19.738 0 44 0s44 19.738 44 44-19.738 44-44 44zm0-85C21.393 3 3 21.393 3 44c0 22.608 18.393 41 41 41s41-18.392 41-41C85 21.393 66.607 3 44 3zm16.063 43.898L39.629 60.741a3.496 3.496 0 0 1-3.604.194 3.492 3.492 0 0 1-1.859-3.092V30.158c0-1.299.712-2.483 1.859-3.092a3.487 3.487 0 0 1 3.604.194l20.433 13.843a3.497 3.497 0 0 1 .001 5.795zm-1.683-3.311L37.946 29.744a.49.49 0 0 0-.276-.09.51.51 0 0 0-.239.062.483.483 0 0 0-.265.442v27.685c0 .262.166.389.265.442.1.053.299.118.515-.028L58.38 44.414A.489.489 0 0 0 58.6 44a.49.49 0 0 0-.22-.413z'/%3E %3C/svg%3E");
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -44px;
  margin-left: -44px;
  color: purple;
}

.vjs-theme-orange .vjs-big-play-button .vjs-icon-placeholder {
  display: none;
}

/* Control Bar */
.vjs-theme-orange .vjs-button > .vjs-icon-placeholder::before {
  line-height: 1.55;
}

.vjs-theme-orange .vjs-control:not(.vjs-disabled):not(.vjs-time-control):hover {
  color: var(--vjs-theme-orange--primary);
  text-shadow: var(--vjs-theme-orange--secondary) 1px 0 10px;
}

.vjs-theme-orange .vjs-control-bar {
  background: none;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Play Button */
.vjs-theme-orange .vjs-play-control {
  font-size: 0.8em;
}

.vjs-theme-orange .vjs-play-control .vjs-icon-placeholder:before {
  background-color: var(--vjs-theme-orange--secondary);
  height: 1.5em;
  width: 1.5em;
  margin-top: 0.2em;
  border-radius: 1em;
  color: var(--vjs-theme-orange--primary);
}

.vjs-theme-orange .vjs-play-control:hover .vjs-icon-placeholder:before {
  background-color: var(--vjs-theme-orange--secondary);
  color: var(--vjs-theme-orange--primary);
}

/* Volume stuff */
.vjs-theme-orange .vjs-mute-control {
  display: none;
}

.vjs-theme-orange .vjs-volume-panel {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.3em;
}

.vjs-theme-orange .vjs-volume-panel,
.vjs-theme-orange .vjs-volume-panel:hover,
.vjs-theme-orange .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-orange .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme-orange .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.vjs-theme-orange .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active,
.vjs-theme-orange .vjs-volume-bar.vjs-slider-horizontal {
  width: 3em;
}

.vjs-theme-orange .vjs-volume-level::before {
  font-size: 1em;
}

.vjs-theme-orange .vjs-volume-panel .vjs-volume-control {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.vjs-theme-orange .vjs-volume-bar {
  background-color: transparent;
  margin: 0;
}

.vjs-theme-orange .vjs-slider-horizontal .vjs-volume-level {
  height: 100%;
}

.vjs-theme-orange .vjs-volume-bar.vjs-slider-horizontal {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.vjs-theme-orange .vjs-volume-bar::before {
  content: '';
  z-index: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 0;

  border-style: solid;
  border-width: 0 0 2em 3em;
  border-color: transparent transparent var(--vjs-theme-orange--secondary) transparent;
}

.vjs-theme-orange .vjs-volume-level {
  overflow: hidden;
  background-color: transparent;
}

.vjs-theme-orange .vjs-volume-level::before {
  content: '';
  z-index: 1;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;

  border-style: solid;
  border-width: 0 0 2em 3em;
  border-color: transparent transparent var(--vjs-theme-orange--primary) transparent;
}

/* Progress Bar */
.vjs-theme-orange .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1em;
}

.vjs-theme-orange .vjs-play-progress::before {
  display: none;
}

.vjs-theme-orange .vjs-progress-holder {
  border-radius: 0.2em;
  height: 0.5em;
  margin: 0;
}

.vjs-theme-orange .vjs-play-progress,
.vjs-theme-orange .vjs-load-progress,
.vjs-theme-orange .vjs-load-progress div {
  border-radius: 0.2em;
}

.vjs-theme-orange .vjs-play-progress {
    background-color: var(--vjs-theme-orange--primary);
}
.vjs-theme-orange .vjs-load-progress {
    background-color: #36454F;
}

/*# sourceMappingURL=/orange.02578e43.css.map */